.cookiebanner {
    
    &__intro {
        background: rgb(253, 253, 253);
        .flex {
            margin: 20px auto;
            width: 580px;
            
            @media only screen and(max-width: 620px) {
                width: 100%;
                flex-direction: column;
                .button {
                    min-width: 240px;
                    width: 100%;
                }
            }
        }
        .headline {
            text-align: center;
            max-width: 640px;
            margin: -10px auto 20px auto;
            width: calc(100% - 100px);
        }
        .paragraph {
            max-width: 640px;
            text-align: left;
            margin: 0 auto;
            width: calc(100% - 100px);
        }
        .image {
            position: absolute;
            top: 20px;
            left: 20px;
            width: 60px;
            height: 60px;
            border-radius: 60px;
            border: 3px solid black;
        }
    }
}

.noscroll {
    overflow-y: hidden;
}
.blur {
    filter: blur(4px);
}
