.cookiebanner {

    
    &__preferences {
        max-width: 600px;
        position: fixed;
        background: rgb(253, 253, 253);
        border-radius: 3px;
        padding: 40px;
        width: calc(100% - 120px);

        
        @media only screen and(max-width: 460px) {
            .modal__icon {
                right: 65px;
            }
            .modal__content {
                padding: 0 40px 40px 40px;
            }
            width: 100%;
            height: 100%;
            margin: 0;
            top: 0;
        }

        .button {
            min-width: 210px;
            width: 100%;
            
            margin: 0 auto;
            margin-bottom: 20px;
        }
        .flex {
            margin: 20px auto;
            width: 100%;
            
            .button {
                min-width: 210px;
                width: 100%;
                
                margin: 0 auto;    
            }
            @media only screen and(min-width: 460px) {
                flex-direction: row;

                .button {
                    width: 47%;
                    min-width: 100px;
                }
            }
            @media only screen and(max-width: 460px) {
                .button {
                    width: 100%;
                }
            }

            
        }
        .headline {
            text-align: center;
        }
        .paragraph {
            text-align: left;
        }
        &-cookielist {
            .headline {
                text-align: left;
                margin: 25px auto 15px auto;
            }
            .paragraph {
                text-align: left;
            }
        }
        &-header {
            .headline {
                text-align: center;
                max-width: 640px;
                margin: -10px auto 20px auto;
                width: calc(100% - 100px);
            }
            .paragraph {
                max-width: 640px;
                text-align: left;
                margin: 0 auto;
                width: calc(100% - 100px);
            }
            .image {
                position: absolute;
                top: 20px;
                left: 20px;
                @media only screen and(max-width: 460px) {
                    left: 60px;
                }
                width: 60px;
                height: 60px;
                border-radius: 60px;
                border: 3px solid black;
            }
        }
    }
}



