.cookie {
    margin: 0 auto 25px auto;
    width: 100%;
    min-width: 260px;
    max-width: 100%;
    &__head {
        &-upper {
            display: flex;
            position: relative;
            .paragraph {
                width: auto !important;
                text-align: left !important;
                font-weight: bolder;
                font-style: italic;
                margin-top: 5px;
                margin-bottom: 5px;
                margin-right: auto !important;
                margin-left: 10px;
            }
        }

        &-lower {
            .paragraph {
                text-align: left !important;
                font-weight: bolder;
                font-style: italic;
                margin-bottom: 5px;
            }
        }
    }

    &__description {
        .paragraph {
            text-align: left !important;
        }
    }
    .switch {
        min-width: 70px;
    }
}